@font-face {
    font-family: "Jost";
    src: url(/public/fonts/Jost-VariableFont_wght.ttf);
}

:root{
    --padding:10px;
    --main-font:"Jost";
    --background-image:url(/public/img/herobackground.jpg);
}
